

<table class="table table-striped table-responsive-md btn-table">
  <tr >
    <td>Test Exercise</td>
    <td><button mdbBtn color="primary" outline="true" size="sl" mdbWavesEffect type="button" class="m-3" (click)="filterRegion('europe')">Europe</button></td>
    <td> <button mdbBtn color="primary" outline="true" size="sl" mdbWavesEffect type="button" class="m-3" (click)="filterRegion('asia')">Asia</button></td>
    <td><input matInput placeholder="Search Country" outline="true"  rounded="true" size="sl" class="m-3" (change)="filterCountry($event)" ></td>

  </tr>
 
</table>