
.new-entry-field {
width:280px !important;
font-size: 16px;
text-align: left;
border-collapse: collapse;
margin: 5px;

}
.new-input-field {
    border:none;   
     font-size: 16px;
     background-color: #ffffff;
    }
    
    
