<table [formGroup]="form" class="new-entry-field">
  <tr>    
    <td colspan="2" class="new-entry-field"> <input matInput placeholder="" formControlName="name" readonly='true'
        class="new-input-field"></td>
  </tr>
  <tr>
    <td >
      <h4>Area:</h4>
    </td>
    <td class="new-entry-field"><input matInput placeholder="" formControlName="area" readonly='true'
        class="new-input-field"></td>
  </tr>
  <tr>
    <td >
      <h4>Language:</h4>
    </td>
    <td class="new-entry-field"> <input matInput placeholder="" formControlName="languages" readonly='true'
        class="new-input-field"></td>
  </tr>
  <tr>
    <td >
      <h4>Population:</h4>
    </td>
    <td class="new-entry-field"> <input matInput placeholder="" formControlName="population" readonly='true'
        class="new-input-field">

  </tr>

</table>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="close()">Close</button>

</mat-dialog-actions>